# This file belongs here: /etc/udev/rules.d/99-wifi-gpio.rules
# This is ONLY required for the Luckfox Pico Mini to assign the 0A_4d (pin 4) to the output pin.
ACTION=="add", SUBSYSTEM=="gpio", KERNEL=="gpiochip0", RUN+="/bin/sh -c 'echo 4 > /sys/class/gpio/export && echo out > /sys/class/gpio/gpio4/direction && echo 0 > /sys/class/gpio/gpio4/value'"